

{% extends "base.html" %}

{% block content %}
    <div class="container">
      	<div class="page-header" id="banner">
        	<div class="row">
         		<div class="col-lg-6">
            		<p class="lead">Order Complete:</p>
          		</div>
        	</div>
      	</div>

		<div class="col-lg-3">
			<div class="panel panel-info">
			  <div class="panel-body">
			    Thank you for your order. We will receive an email shortly with the order details.
			  </div>
			</div>
		</div>
	</div>
{% endblock %}